<div class="flx" style="flex-wrap: wrap;">

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>Black and Allied Employees for change</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>Diverse Abilities</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>India: Health & Wellness</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>India: Health & Wellness</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>India: Women @ PowerSchool</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>LatinX</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>PRISM</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>Veterans and Family Support</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>Women and Family Support</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>

  <div class="upcoming-events wow fadeInRight" style="width: 45%;">
    <div class="d-flex bd-highlight" style="border: 1px solid orange;margin: 50px;padding: 20px;border-radius: 5px;">
      <div class="p-2 bd-highlight">
        <img src="../../../assets/logos/clubs.jpeg" height="100px" width="200px">
      </div>
      <div class="p-2 bd-highlight">
        <h5>Women in Tech</h5>
        <p>harbab</p>
        <span *ngIf="c.type == '1'" class="badge badge-primary">Public</span>
        <span *ngIf="c.type == '2'" class="badge badge-danger">Private</span>
      </div>
    </div>
  </div>
</div>